<div class="page-header">
  <h2>Editar Modelo</h2>
</div>

<%= render 'form' %>

<div class="form-actions">
  <%= link_to 'Mostrar', @model, :class => "btn" %>
  <%= link_to 'Regresar', models_path, :class => "btn" %>
</div>