<div class="page-header">
  <h2>Editar Banner</h2>
</div>

<%= render 'form' %>

<div class="form-actions">
  <%= link_to 'Mostrar', @banner, :class => "btn" %>
  <%= link_to 'Regresar', banners_path, :class => "btn" %>
</div>