<div class="hero-unit">
  <h1>Autopedia®</h1>
  <p>Bienvenido al mejor portal de autos, Autopedia®.</p>
  <p>
    <%= link_to "¡Visitalo!", page_path('inicio'), :class => "btn btn-primary btn-large" %>
  </p>
</div>