<div id="bannerside">
	<% Banner.find_by_width_and_height(220,320) do |b| %>
		<% b.promotions.each do |p| %>
			<li><%= link_to image_tag(p.promotion.url(:original)), p.address %></li>
		<% end %>
	<% end %>
</div><!-- end /#bannerside -->