<div id="footer">

	<footer>

		<nav id="navbottom">
			<ul>
				<li><a title="Poliza de legalidad" href="#">Poliza de legalidad</a></li>
				<li><a title="Acerca de nosotros" href="#">Acerca de nosotros</a></li>
				<li><a title="Contacto" href="contacto">Contacto</a></li>
				<li><a title="Ubicación" href="ubicacion">Ubicación</a></li>
				<li><a title="Publicidad" href="#">Publicidad</a></li>
			</ul>
		</nav><!-- end /#navbottom -->

		<p id="copyright">&copy; 2013 Copyright Autopedia.mx</p>

	</footer><!-- end footer -->

</div><!-- end /#footer -->