<div id="newsletter">
	<ul>
		<li>Siguenos para mantenerte al tanto de nuestras promociones</li>
		<li>
			<form>
				<input class="search" type="text" placeholder="Correo Electrónico">
				<input class="submit" type="submit" value="Suscribete">
			</form>
		</li>
		<li><%= link_to image_tag('facebook-icon.png', :alt => 'Autopedia&reg; en Facebook'), '#', :target => '_blank' %></li>
		<li><%= link_to image_tag('twitter-icon.png', :alt => 'Autopedia&reg; en Twitter'), '#', :target => '_blank' %></li>
		<li><%= link_to image_tag('youtube-icon.png', :alt => 'Autopedia&reg; en YouTube'), '#', :target => '_blank' %></li>
	</ul>
</div><!-- end /#newsletter -->