<div id="searchside">

	<h4>Busqueda Actual</h4>
	<section>
		<p><a title="Busqueda actual" href="#">Busqueda actual</a></p>
	</section>
	<h4>Marca y Modelo</h4>
	<section>
		<form>
			<select>
				<option value="" selected>Elige marca</option>
			</select>
			<select>
				<option value="" selected>Elige modelo</option>
			</select>
			<select>
				<option value="" selected>Elige año</option>
			</select>
			<select>
				<option value="" selected>Estatus legal</option>
			</select>
			<select>
				<option value="" selected>Ubicación</option>
			</select>
		</form>
	</section>
	<h4>Precio</h4>
	<section>
		<p>$0.00 <abbr title="Moneda Nacional">M.N.</abbr></p>
	</section>
	<h5><a title="Editar busqueda" href="#">Editar busqueda</a></h5>

</div><!-- end /#searchside -->