<div class="page-header">
  <h2>Editar Revista</h2>
</div>

<%= render 'form' %>

<div class="form-actions">
  <%= link_to 'Mostrar', @magazine, :class => "btn" %>
  <%= link_to 'Regresar', magazines_path, :class => "btn" %>
</div>