<% title "Acerca de nosotros" %>
<div id="sitemap">

	<div class="center">
		<p>Inicio &rsaquo; Acerca de nosotros</p>
	</div><!-- end /.center -->

</div><!-- end /#sitemap -->

<div id="content">

	<div id="text" class="others">

		<h2>Acerca de nosotros</h2>
		<h4>Próximamente.</h4>
	
		

	</div><!-- end /#text -->

	<div id="sidebar">

		<%= render 'shared/bannerside' %>
		<%= render 'shared/searchside' %>

	</div><!-- end /#sidebar -->

	<%= render 'shared/middlebanners' %>

</div><!-- end /#content -->