<div id="sitemap">

	<div class="center">
		<p>Inicio &rsaquo; Poliza de legalidad</p>
	</div><!-- end /.center -->

</div><!-- end /#sitemap -->

<div id="content">

	<div id="text" class="others">

		<h2>Poliza de legalidad</h2>
		<h4>Próximamente.</h4>
	
		

	</div><!-- end /#text -->

	<div id="sidebar">

		<%= render 'shared/bannerside' %>
		<%= render 'shared/searchside' %>

	</div><!-- end /#sidebar -->

	<div id="middlebanners">
		<ul>
			<li><%= link_to image_tag('460x100.jpg', :alt => '460x100'), '#', :target => '_blank' %></li>
			<li><%= link_to image_tag('460x100.jpg', :alt => '460x100'), '#', :target => '_blank' %></li>
		</ul>
	</div><!-- end /#middlebanners -->

</div><!-- end /#content -->