<% title "Ubicación" %>
<div id="sitemap">

	<div class="center">
		<p>Inicio &rsaquo; Contacto &rsaquo; Ubicación</p>
	</div><!-- end /.center -->

</div><!-- end /#sitemap -->

<div id="content">

	<div id="text" class="others">

		<h2>Ubicación Autopedia&reg;</h2>
		<h4>Para facilitar la locaclización de nuestras oficinas de venta, consulta el siguiente mapa donde podrás obtener la ruta exacta para localizarnos.</h4>
	
		<section id="map"></section><!-- end /#map -->

		<address class="address">
			<b>Autopedia.mx</b><br />
			Blvd. de las Americas 5636 Interior D,<br />
			Lomas de Agua Caliente, C.P. 22040<br />
			Tijuana, Baja California, Mexico.
		</address><!-- end /.address -->

		<address class="address">
			<br />
			Teléfono Oficina: (664) 104 1925<br />
			Correo Electrónico: <a title="Correo Electrónico" href="mailto:info@autopedia.mx" target="_blank">info@autopedia.mx</a><br />
			Website: <a title="Autopedia.mx" href="http://www.autopedia.mx/" target="_blank">www.autopedia.mx</a>
		</address><!-- end /.address -->

	</div><!-- end /#text -->

	<div id="sidebar">

		<%= render 'shared/bannerside' %>
		<%= render 'shared/searchside' %>

	</div><!-- end /#sidebar -->

	<div id="middlebanners">
		<ul>
			<li><%= link_to image_tag('460x100.jpg', :alt => '460x100'), '#', :target => '_blank' %></li>
			<li><%= link_to image_tag('460x100.jpg', :alt => '460x100'), '#', :target => '_blank' %></li>
		</ul>
	</div><!-- end /#middlebanners -->

</div><!-- end /#content -->