<div class="page-header">
  <h2>Editar Pais</h2>
</div>

<%= render 'form' %>

<div class="form-actions">
  <%= link_to 'Mostrar', @country, :class => "btn" %>
  <%= link_to 'Regresar', countries_path, :class => "btn" %>
</div>