<div class="page-header">
  <h2><%= @country.title %></h2>
</div>

<p>
  <b>Descripción</b>
  <%= @country.description %>
</p>

<div class="form-actions">
  <%= link_to 'Editar', edit_country_path(@country), :class => "btn" %>
  <%= link_to 'Regresar', countries_path, :class => "btn" %>
</div>