<div class="page-header">
  <h2>Editar Categoria</h2>
</div>

<%= render 'form' %>

<div class="form-actions">
  <%= link_to 'Mostrar', @category, :class => "btn" %>
  <%= link_to 'Regresar', categories_path, :class => "btn" %>
</div>